.content_wrapper {
  display: flex;
  flex-direction: column;
}

.cards__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 378px);
  gap: 48px 32px;
}

.sort-button {
  align-self: end;
  margin-top: 32px;
  margin-bottom: 35px;
  padding: 10px 14px;
  background: white;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  min-width: 288px;
  text-align: left;
  justify-content: space-between;
  display: inline-flex;
}

.rotated {
  transform: rotate(180deg);
}