.header {
  background: #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: white;
    font-size: 36px;
    margin: 0;
  }

  &__links-wrapper {
    display: flex;

    @media (max-width: 540px) {
      display: none;
    }

    &-mobile {
      display: none;

      @media (max-width: 540px) {
        display: block;
      }
    }
  }

  &__link {
    margin-right: 32px;
    font-size: 16px;
    color: white;
    text-decoration: none;


  }
}

.zeromargin {
  margin-right: 0;
}